@import "tailwindcss";

@theme {
  --color-primary: #FF7B22;
  --color-primary-light: #FFF3ED;
  --color-primary-hover: #E56D1E;
  --color-logo: #F68A1E;
  --font-family-pretendard: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-family-jalnan: 'Jalnan2', sans-serif;
}

:root {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.font-jalnan {
  font-family: 'Jalnan2', sans-serif;
}
